body {
background-color: black;
background-image: url('./Images/background.jpg');
background-size: cover;
background-position: fixed;
font-family: 'Indie Flower', cursive;
overflow: hidden;  //Change this to scroll or auto
margin: 0;
padding: 0;
overflow: scroll;
}

/*heading*/

.masthead-heading {
  background-color: black;
  text-align: center;
  font-size: 5em;
  color: #FF00FF;
  font-family: 'Poppins', sans-serif;
  margin-top: 54px;
  margin-bottom: 32px;
}

.masthead-intro {
  text-align: center;
  font-size: 2em;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

/* Naviagtion Bar */


nav {
  border: none;
    text-align: center;
    margin-top: 0 auto;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #FF6600;
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
  padding-left: 25px;
  text-decoration: none;
    letter-spacing: 0.05em;
}

/* Footer */
.content-footer {
  clear: both;
    position: relative;
    z-index: 10;
    background-color: blue;
    color: white;
    text-align: center;
    padding: .5em;;
}

a:link { 
  color: white;
  text-decoration: none;
}

a:hover {
  color: #4dffff;
}

a:vistited {
  color: #990099;
}

/* projects */

.projectimages {
  width: 700px;
  height: 50%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

img:hover {
     opacity: 0.5;
    filter: alpha(opacity=50);
}

.avatar {
    width: 300px;
  height: 50%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.aboutme {
  margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
  color: white;
  text-align: center;
    font-family: 'Poppins', sans-serif;
}

.projects {
  margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
  color: white;
  text-align: center;
}

@media only screen {
  .projectimages, .avatar {
max-width: 70%;
  }
}


